body {
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, rgba(0,3,36,1) 0%, rgba(181,13,24,1) 0%, rgba(78,3,3,1) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.App{
  /* width: 100vw; */
  height: 100vh;
  /* height: fit-content; */
}


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(19, 21, 26);
  margin: auto;
}

.logo {
  width: 15%;
  height: 15%;
  cursor: pointer;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: auto;
  background-color: rgb(35, 37, 43);
  font-weight: bold;
}

.navLink {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 20px;
}

svg {
  padding-right: 10px;
  z-index: 100;
}

a {
  display: flex;
  flex-direction: row;
}

.wrapperWatchlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: start;
  justify-content: flex-start;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  background: radial-gradient(circle, rgb(35, 37, 43) 0%, rgb(35, 37, 43) 0%, rgb(19, 21, 26) 100%);
}

h1 {
  color: white;
  text-align: center;
}

/* CSS for CardComponent */

.movie-card {
  border: 1px solid red;
  margin: 20px;
  height: 450px;
  position: relative;
}

.movie-card-image > img {
  max-height: 100%;
  max-width: 100%;
}

.movie-information {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  padding: 15px;
}

.movie-information h1, .movie-information h3, .movie-information h4 {
  color: white;
}

.movie-information h4 {
  margin-top: 20px;
}

.movie-information h4:last-child {
  margin: 0;
}

.genre-cast-bar {
  position: absolute;
  top: 100%;
}

/* CAROUSEL */
.ant-carousel .slick-slide {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  height: 70vh;
  line-height: 7vh;
  /* background-color: rgb(19, 21, 26); */
  background: rgb(0,0,0);
  background: linear-gradient(281deg, rgba(0,0,0,1) 16%, rgba(19,21,26,1) 100%); 
  /* background: rgb(0,0,0);
  background: linear-gradient(281deg, rgba(0,0,0,1) 0%, rgba(35,37,43,1) 100%);  */
}


.slick-slide {
  margin: 0;
}

.browserPosterWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
} 

.browserPoster {
  height: 65vh;
  /* -webkit-box-shadow: -32px 1px 59px 19px rgba(0,0,0,1);
  -moz-box-shadow: -32px 1px 59px 19px rgba(0,0,0,1);
  box-shadow: -32px 1px 59px 19px rgba(0,0,0,1); */

} 

.browserInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 30px; 
} 

.headerTitle {
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.layer {
  position: absolute;
  width: 100%;
  z-index: 10;
  width: 300px;
  height: 65vh;
}

.plot {
  color: white;
  line-height: 20px;
}

.actors {
  font-weight: lighter;
  font-style: italic;
  line-height: 20px;
  color: rgb(172, 171, 171);
}

.browserInfo p {
  text-align: center;
}

.browserInfo h3 {
  color: rgb(194, 180, 51);
  margin-top: 50px;
  margin-bottom: 0;
}

.browserInfo h4 {
  color: white;
}


.rating {
  text-align: center;
}

.rating svg {
  padding-top: 11px;
}

.genre {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
}


.wrapperButtons {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  /* margin-right: 100px;
  margin-left: 100px; */
}

#thumbContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20;
  padding: 15px;
/*   width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
}






